- name: Install packages
  yum:
    name:
      - nginx
      - php
      - php-mysqlnd
      - amazon-efs-utils
    state: present

- name: Create web root
  file:
    path: /var/www/html
    state: directory

- name: Mount EFS for wp-content
  mount:
    path: /var/www/html/wp-content
    src: "{{ efs_dns }}:/"
    fstype: efs
    opts: _netdev
    state: mounted

- name: Copy Cloudflare cert
  copy:
    src: cloudflare-origin.crt
    dest: /etc/ssl/certs/origin.crt
    mode: "0644"

- name: Copy Cloudflare key
  copy:
    src: cloudflare-origin.key
    dest: /etc/ssl/private/origin.key
    mode: "0600"

- name: Nginx config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf

- name: Enable nginx
  service:
    name: nginx
    enabled: true
    state: started
